<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>

    <form action="#" th:action="@{/salvar}" method="POST" th:object="${users}">
        
        <input type="hidden" th:field="*{id}" readonly/><br />
        <label for="nome">Nome:</label> <br/>
        <input type="text" name="nome" id="nome" th:field="*{nome}"> <br/>

        <button type="submit">Salvar</button>

    </form>

</body>
</html>