<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>TADS-Social</title>
</head>
<body>
    <div class="container">
        <div class="content-header">
            <h1>TADS-Social</h1>
            <h4>Bem vindo!</h4>

            <div class="x-count">
                <p>Total de usuários cadastrados:</p>
                <p th:text="${#response.getHeader('X-Total-Count')}" ></p>
            </div>

        </div>

        <div class="buttoms-group">
            <div class="loggin-group">
                <p>Já possui uma conta?</p>
                <a class="button" href="/logar">Logar</a>
            </div>
            <div class="register-group">
                <p>É novo por aqui? Cadastre-se!</p>
                <a class="button" href="/cadastrar">Cadastrar</a>
            </div>
        </div>
    </div>
</body>
</html>